<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KNN esteso</title>
</head>

<body>
    <div id="test">
        Ciao
    </div>
    <button onclick="clickButton()">
        Cliccami
    </button>

</body>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function clickButton() {
        $("#test").html("Gay chi legge");
    }
</script>

</html>