<!DOCTYPE html>
<html lang="it">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>KNN esteso</title>
    </head>

    <body onload="$(document).scrollTop(0);">
        <div class="home">
            <header class="topnav">
                <ul class="header__menu">
                    <li><a class="menu-item contactnav" href="javascript:void(0)">CONTACT US</a></li>
                    <li><a class="menu-item aboutnav" href="javascript:void(0)">ABOUT</a></li>
                    <li><a class="menu-item howtousenav" href="javascript:void(0)">HOW TO USE</a></li>
                    <li><a class="menu-item knnnav" href="javascript:void(0)">KNN</a></li>
                    <li><a class="menu-item active homenav" href="javascript:void(0)">HOME</a></li>
                </ul>
            </header>

            <div id="home">
                <div id="modulo">
                    <div class="title">
                        <p>Algoritmo di predizione KNN</p>
                    </div>
                    <div id="first_module">
                        <p id="validate"></p>
                        <label for="load_method">Tecnica di caricamento training set:</label><br>
                        <select name="load_method" id="load_method">
                            <option value="novalue">Select</option>
                            <option value="1">File</option>
                            <option value="2">File serializzato</option>
                            <option value="3">Database</option>
                        </select>

                        <div id="file" style="display: none">
                            <label for="file_name">Inserire l'intero percorso del file da caricare</label><br>
                            <input type="text" name="file_name" id="file_name" autocomplete="off"
                                placeholder="Nome del file">
                        </div>

                        <div id="serialized_file" style="display: none">
                            <label for="serialized_file_name">Inserire l'intero percorso del file binario da caricare</label><br>
                            <input type="text" name="serialized_file_name" id="serialized_file_name" autocomplete="off"
                                placeholder="Nome del file">
                        </div>

                        <div id="database" style="display: none">
                            <label for="table_name">Inserire il nome della tabella da caricare</label><br>
                            <input type="text" name="table_name" id="table_name" autocomplete="off"
                                placeholder="Nome della tabella">
                        </div>

                        <br>

                        <button id="start" class="form-button"
                            onclick="return checkFirstModule();">Carica modello</button>
                    </div>
                </div>

                <div id="modal" class="modal">
                    <div class="modal-content">
                        <div class="title">
                            <p>Inserimento esempio <span class="close">&times;</span></p>
                        </div>
                        <div class="content">
                            <div id="graph">
                                <div id="result"></div>
                                <canvas id="bubble-chart"></canvas>
                                <div id="explain_graph">
                                    <p>L'asse X rappresenta la distanza dalla query, l'asse Y rappresenta il target degli esempi</p>
                                </div>
                            </div>

                            <div id="second_form"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="knn">
            <div class="first-section">
                <p class="title hideme">Di cosa si tratta</p>
                <hr style="background: white;">
                <p class="subtitle hideme">Che schifo.</p>
            </div>
        </div>

        <div id="howtouse">
            <div class="first-section">
                <p class="title hideme">Come utilizzarlo</p>
                <hr style="background: black;">
                <p class="subtitle hideme">Non farlo.</p>
            </div>
        </div>

        <div id="about">
            <div class="first-section">
                <p class="title hideme">Chi siamo</p>
                <hr style="background: black;">
                <p class="subtitle hideme">Siamo tre sfigati.</p>
            </div>

            <div class="container-us">
                <div class="github">
                    <div class="card">
                        <div class="imgBx">
                            <img src="https://avatars.githubusercontent.com/u/82759402?v=4">
                        </div>
                        <div class="contentBx">
                            <h3>bralani</h3>
                            <a href="https://github.com/bralani" class="recapito">GitHub</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgBx">
                            <img src="https://avatars.githubusercontent.com/u/69091134?v=4">
                        </div>
                        <div class="contentBx">
                            <h3>Tonio635</h3>
                            <a href="https://github.com/Tonio635" class="recapito">GitHub</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="imgBx">
                            <img src="https://avatars.githubusercontent.com/u/82759768?v=4">
                        </div>
                        <div class="contentBx">
                            <h3>D0men1c0</h3>
                            <a href="https://github.com/D0men1c0" class="recapito">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id=footer>
            <div class="container-contacts">
                <h2 class="contacts-title">Contatti</h2>
                <hr>
                <div class="footer-contacts">
                    <ul class="contacts">
                        <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-telegram-plane"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-discord"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-server" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-teamspeak"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="copyright">
            <p class="copyright-text">Copyright 2022 © - Tutti i diritti riservati. Built by <span
                    class="creator-text">Tonio, Matteo e Domenico</span>.</p>
        </div>

        <script th:inline="javascript">
            var id = [(${ id })];
        </script>

        <script src="jquery.min.js"></script>
        <script src="chart.min.js"></script>
        <script src="grafico.js"></script>
        <script src="index.js"></script>


    </body>

</html>